<div class="page-step-member">
    <fieldset>
        <!-- Form Name -->
        <legend>Ajouter des membres à votre club</legend>
            Cette partie n'est pas encore prise en charge.
        <!-- Select Basic -->
        <div class="form-group">
        </div>
    </fieldset>
</div>
