<div class="page-carousel-welcome">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="responsive" src="{{ asset('bundles/wotoogcounter/img/slider/2.jpg') }}" alt="First slide">
                    <div class="carousel-caption">
                        <h3>Bienvenue sur Wotoog</h3>
                        <p>Nous sommes heureux de vous compter comme un nouveau membre</p>
                        <p>Vous pouvez faire de Wotoog ce que vous voulez. Un réseau social entre amis, un intranet d'entreprise, un assistant personnel ou simplement un journal intime</p>
                    </div>
                </div>
                <div class="item">
                    <img class="responsive" src="{{ asset('bundles/wotoogcounter/img/slider/3.jpg') }}" alt="Second slide">
                    <div class="carousel-caption">
                        <h3>Organisez et partagez des activités unique</h3>
                        <p>Vous souhaitez sortir, écrire un article, regarder des videos et les commenter? Ou simplement travailler?</p>
                        <p>Wotoog est certainement le meilleur endroit pour faire tout cela.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="responsive" src="{{ asset('bundles/wotoogcounter/img/slider/4.jpg') }}" alt="Third slide">
                    <div class="carousel-caption">
                        <h3>Comment sont traitées mes données ?</h3>
                        <p>Soyez à l'abri, vos données restent à vous. Vous les partagez avec qui vous voulez uniquement si vous le désirez.</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                &nbsp;
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                &nbsp;
            </a>
        </div><!-- /carousel -->
    </div>