<div class="page-short-presentation">
<div class='row'>
    <div class='col-md-5 col-xs-5 padding10'>
        <img src="http://www.avocat-omrani.be/gifs/vie-privee.jpg" alt='private_life'
             class='img-rounded img-responsive'/>
    </div>
    <div class='col-md-7 col-xs-7'>
        <p>
            <span class='lead'>Wotoog</span> est le seul endroit où vous pouvez créer des
            clubs
            privées. Vous gardez votre vie à l'écart des autres, des compagnies, et des gens
            que
            vous connaissez pas</p>

        <p>
            Du club ultra privés et confidentiel au club de tennis de votre région en
            passant
            par le groupe de travail de votre université, il n'y a pas plus simple pour
            conserver vos données à l'abri et rester en contacts avec les personnes que vous
            voulez.
        </p>
    </div>
</div>
<div class='row'>
    <div class='col-md-5 col-xs-5 padding10'>
        <img src="http://www.leconseillerweb.com/wp-content/uploads/2012/12/faire-du-social-media-marketing.jpg"
             alt='social_training' class='img-rounded img-responsive'/>
    </div>
    <div class='col-md-7 col-xs-7'>
        <p>Découvrir le monde et rencontrez des gens, prenez part à des clubs public,
            partagez
            votre passion.<br/>
            Créer du contenu, tenez les autres à jour de vos derniers exploits, controlez
            les
            activités des clubs sur lesquels vous êtes inscrit. <br/>
            <span class='lead'>Wotoog</span> vous offre les outils pour discuter en temps
            réel,
            partager vos contenus multimédia ou encore collaborer.
        </p>

        <p>Chaque club est indépendant dans son fonctionnement et vous pouvez créer des
            clubs de
            type professionnel, social ou basique</p>
    </div>
</div>
    </div>